.content-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.videos-container {
  width: 200vw;

  display: flex;
  overflow: hidden;
}

.videos-container::-webkit-scrollbar {
  display: none;
}

.video-container {
  width: 100vw;
  height: 100vh;
}

video {
  height: 100vh;
  width: 100vw;

  object-fit: cover;

  border: none;

  transition: scale 0.5s ease;
}

.nav-btn-container {
  height: 150px;
  width: 400px;

  position: fixed;
  bottom: 0;

  display: flex;
  align-items: end;
  justify-content: center;
}

.nav-btn {
  height: 4px;
  width: 300px;

  position: absolute;
  bottom: 6px;

  border-radius: 6px;
  background-color: #ffffff1a;

  transition: background-color 0.4s ease-in-out, rotate 0 ease;
}

.nav-btn.active {
  background-color: #ffffff2a;
}

.nav {
  height: 250px;
  width: 250px;

  position: absolute;
  top: 205px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  outline: 50px solid #ffffff1a;
}

.nav.active {
  transition: all 0.5s ease-in-out;
}

.triangle {
  position: absolute;
  bottom: -90px;
  pointer-events: none;

  transform: scaleX(1.2);
}

.nav-items-container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;

  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform: translate(-50%, -50%);
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 50px;
  width: 50px;

  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 500;
}

.fullscreen-btn {
  height: 40px;
  width: 40px;

  position: fixed;
  top: 4px;
  right: 4px;

  background-color: transparent;
  border: none;
}

.fullscreen-btn i {
  scale: 1.6;
  color: #ffffff44;
}

.video-btn-container {
  height: 116px;
  width: 220px;

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 0;
  bottom: 0;

  padding: 8px;
}

.video-btn-container button {
  height: 100px;
  width: 100px;

  background-color: #ffffff09;
  border: none;

  transition: all 0.5s ease-in-out;
}

.video-btn-container button.active {
  background-color: #ffffff2a;
}

.video-btn-container button.active i {
  color: #ffffff3a;
}

.video-btn-container button i {
  scale: 3;
  color: #ffffff18;
  transition: all 0.5s ease-in-out;
}

.previous-btn {
  border-radius: 6px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.next-btn {
  border-radius: 6px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
