.music-app-container {
  height: 200px;
  width: 200px;

  position: absolute;

  border-radius: 8px;
  background-color: #d9d9d921;

  backdrop-filter: blur(2px);

  overflow: hidden;
}

.music-app-container .top-bar {
  height: 20px;
  width: 200px;

  background-color: #ffffff55;

  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.music-app-container .top-bar .app-title {
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #00000060;
}

.music-app-container .top-bar .app-controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.music-app-container .top-bar .app-controls-container .circle {
  height: 8px;
  width: 8px;

  border-radius: 50%;
}
